 .can {
     padding-top: 94px;
     padding-bottom: 91px;
     text-align: center;
     &__title {
       font-size: 40px;
       line-height: 45px;
       text-align: center;
       margin-bottom: 71px;
     }
      .row {
         justify-content: space-around;
         text-align: center;}
         p {
            font-size: 15px;
            line-height: 15px;
            color: #000000;
          }
      
  
  }