.power {
  padding-top: 94px;
  padding-bottom: 101px;
  text-align: center;
  background-color: #f5f5f5;
  //  height: 560px; не трогать

  &__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 90px;
    margin-top: 28px;
  }

  &__buttons {
    margin-top: 76px;
    display: flex;
    column-gap: 22px;
    justify-content: center;
  }

  &__btn {
    &:first-child {
      @include btn-book(45px, $secondary-color, #fff);

    }

    &:last-child {
      @include btn-book(45px, #fff, $secondary-color);
    }
  }

  &__btn2 {
    @include btn-book(45px, $secondary-color, #fff);
    color: $secondary-color;
    background-color: #fff;
    margin-right: 72px;
    margin-top: 76px;
    font-size: 15px;
    line-height: 15px;
    height: 40px;
  }
}