 .power {
     padding-top: 94px;
     padding-bottom: 91px;
     text-align: center;
     padding-left: 130px;
     background-color: #f5f5f5;
    //  height: 560px; не трогать
     &__title {
         font-size: 40px;
         line-height: 45px;
         font-weight: bold;
         padding-bottom: 28px;
     }

     &__text {
         font-size: 15px;
         line-height: 30px;
         padding-bottom: 90px;
     }
    
     

        &__btn {
         @include btn-book(45px, $secondary-color, #fff);
        //   margin-right: 22px;
         margin-top: 76px;
         
         color: #fff;
         background-color: $secondary-color;
         font-size: 15px;
     }

     &__btn2 {
         @include btn-book(45px, $secondary-color, #fff);
         color: $secondary-color;
         background-color: #fff;
          margin-right: 72px;
          margin-top: 76px;
          font-size: 15px;
         line-height: 15px;
         height: 40px;
     }
     
     
 }