.specialize {
    margin-top: 94px;
    background: url(../images/violet.bgc.svg);

     
    //      margin-bottom: 12px;
    //      text-align: center;
    //  }
    &__text {
    background: ;
    font-size: 15px;
    line-height: 22px;
    }

}