$primary-color: #1C1C1C;
$secondary-color: #6F2CFF;
$black: #000;
$white: #fff;
$burger-color : #f62eb9;

@mixin btn-book($pd, $bgc, $clr) {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: $bgc;
  color: $clr;
  padding-left: $pd;
  padding-right: $pd;
  border-radius: 20px;
  height: 40px;
  font-size: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex: 1;
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 40%;
    display: none;
    &.active {
      display: block;
    }
}